/* CSS de base */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

p {
  font-family: "Poppins", sans-serif;
  color: #eef1ef;
}

body {
  background-color: #0e131f;
}

/* ---------------------------------------------------------------------- */

/* En-tête de page */

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

header nav ul {
  display: flex;
}

header nav a {
  font-family: "Poppins", sans-serif;
  color: #eef1ef;
  padding: 5px 25px;
  font-size: 1.4em;
  letter-spacing: 0.05em;
}

header nav a:hover {
  text-shadow: 0px 0px 10px #eef1ef;
  font-weight: bold;
}

header .top-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header .top-page img {
  width: 75px;
  pointer-events: none;
}

header .top-page h2 {
  font-size: 2.8em;
  font-family: "Press Start 2P", cursive;
  color: #eef1ef;
  margin-top: 25px;
  text-shadow: 0px 0px 10px #eef1ef;
  text-align: center;
  line-height: 1.3em;
}

header .top-page .phraseAccroche {
  font-size: 1.3em;
  padding-top: 15px;
  padding-bottom: 50px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

/* ---------------------------------------------------------------------- */

/* Partie Formulaire */

.formulaire {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 10vh; */
}

.formulaire .box {
  position: relative;
  width: 380px;
  height: 540px;
  background: #0e131f;
  border-radius: 8px;
  overflow: hidden;
}

.formulaire .box::before,
.formulaire .box::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 560px;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #7308d7,
    #7308d7,
    #7308d7
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.formulaire .box::after {
  animation-delay: -3s;
}

.formulaire .box .borderLine {
  position: absolute;
  top: 0;
  inset: 0;
}

.formulaire .box .borderLine::before,
.formulaire .box .borderLine::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 560px;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #d923d0,
    #d923d0,
    #d923d0
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -1.5s;
}

.formulaire .box .borderLine::after {
  animation-delay: -4.5s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.formulaire .box form {
  position: absolute;
  inset: 4px;
  background: #0e131f;
  padding: 30px 40px;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.formulaire .box form h2 {
  color: #eef1ef;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
  font-family: "Press Start 2P", cursive;
}

.formulaire .box form .inputBox {
  position: relative;
  width: 300px;
  margin-top: 20px;
}

.formulaire .box form .inputBox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 13px;
  background: transparent;
  outline: none;
  border: none;
  box-shadow: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.formulaire .box form .inputBox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  pointer-events: none;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  font-family: "Poppins", sans-serif;
  color: #eef1ef;
}

.formulaire .box form .inputBox input:valid ~ span,
.formulaire .box form .inputBox input:focus ~ span {
  color: #eef1ef;
  font-size: 0.75em;
  transform: translateY(-34px);
}

.formulaire .box form .inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #eef1ef;
  border-radius: 4px;
  overflow: hidden;
  transition: 0.5s;
  pointer-events: none;
}

.formulaire .box form .inputBox input:valid ~ i,
.formulaire .box form .inputBox input:focus ~ i {
  height: 44px;
}

.formulaire .box form input[type="radio"] {
  margin-top: 25px;
}

.formulaire .box form .radiobox label {
  color: #eef1ef;
  font-size: 1em;
  letter-spacing: 0.05em;
  font-family: "Poppins", sans-serif;
}

.formulaire .box form input[type="submit"] {
  border: none;
  outline: none;
  padding: 9px 25px;
  background: #eef1ef;
  cursor: pointer;
  font-size: 0.9em;
  border-radius: 4px;
  font-weight: 600;
  width: 100px;
  margin-top: 25px;
}

.formulaire .box form input[type="submit"]:active {
  opacity: 0.8;
}

/* ---------------------------------------------------------------------- */

/* Footer = Réseaux */

footer {
  margin-top: 35px;
}

footer .boite1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .boite1 .boite-reseaux {
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .boite1 .boite-reseaux ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .boite1 .boite-reseaux li {
  margin: 20px;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 162px;
  background: #0e131f;
  box-shadow: 5px 5px 8px #070a10, -5px -5px 8px #151d2f;
}

footer .boite1 .boite-reseaux li:hover {
  box-shadow: inset 5px 5px 8px #070a10, inset -5px -5px 8px #151d2f;
}

footer .boite1 .boite-reseaux ul li a {
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  width: 125px;
  color: #eef1ef;
}

footer .boite1 p {
  color: #eef1ef;
  text-align: center;
  margin-bottom: 20px;
  font-size: 0.9em;
}

/* ---------------------------------------------------------------------- */

/* CSS Responsive */

/* Responsive Mobile vers Ordi */

@media screen and (min-width: 900px) {
  header .top-page img {
    width: 100px;
  }

  header .top-page h2 {
    font-size: 5em;
  }

  header .top-page .phraseAccroche {
    font-size: 1.7em;
  }

  footer {
    margin-top: 100px;
  }

  footer .boite1 .boite-reseaux li {
    margin: 25px;
    height: 75px;
    width: 75px;
  }

  footer .boite1 p {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 899px) {
  footer .boite1 {
    margin-top: 100px;
  }
}

@media screen and (max-width: 700px) {
  header nav a {
    padding: 5px 20px;
    font-size: 1.2em;
  }

  header .top-page h2 {
    font-size: 1.9em;
  }

  header .top-page .phraseAccroche {
    font-size: 1.2em;
  }

  .formulaire {
    margin-left: 20px;
    margin-right: 20px;
  }

  .formulaire .box form {
    padding: 30px 15px;
  }
}

/* ---------------------------------------------------------------------- */
